/* Global styles */

body {
    font-family: 'Raleway', sans-serif;
}

/* utility stuff */

.container-md {
    max-width: 960px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.p-sm{
    padding: 0.5rem;
}



#page-header{
    padding: 1rem;
    background-image: url("header-bg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
